:root {
  --primary-color: #263238;
  --accent-color: #8f95a5;
  --brand-color: #939393;

  --color-title: #000000;
  --color-text: #2a3246;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1280px;
